body{
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 100%;
  background-color: black;
}

.main-area{
  display: table-cell;
  vertical-align: middle;
}

.board{
  margin: auto;
  /*padding: 5px;*/
  /*width: 500px;
  height: 500px;*/
  background-color: white;
}

.row{
  width: inherit;
  height: 25%;
}

.cell{
  display: inline-block;
  background-color: brown;
  border-radius: 20px;
}

.item{
  margin: 5px;
  background-color: brown;
  border-radius: 5px;
}
